<!DOCTYPE html>

<!--

Name: Dee Liberman

Date: 01/25/26

-->

<html>

    <head>

        <link rel="stylesheet" href="css/style.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Daily News </title>

    </head>

    <div class = "root-box">

        <div class = "header">
            <div id = "hamburger-icon" class="header-sections">

                <p>
                    <a href="https://example.com">☰</a>
                </p>

            </div>
            <div class="header-sections">

                <p>
                    <a href="https://example.com">Headlines</a>
                </p>

            </div>
            <div class="header-sections">

                <p>
                    <a href="https://example.com">Politics</a>
                </p>

            </div>
            <div class="header-sections">

                <p>
                    <a href="https://example.com">Sports</a>
                </p>

            </div>
            <div class="header-sections">

                <p>
                    <a href="https://example.com">Local</a>
                </p>

            </div>
            <div class="header-sections">

                <p>
                    <a href="https://example.com">Science</a>
                </p>

            </div>
            <div class="header-sections">

                <p>
                    <a href="https://example.com">Weather</a>
                </p>

            </div>
        </div>

        <div class = "title">
            <p id = "hamburger" class = "hamburger">
            ☰
            </p>
        <h1 id = "title">Daily News</h1>
        </div>

        <div id = "divider" class = "divider"></div>

        <div class = "stories-box">

            <div class = "top-stories">

                <div class = "top-stories-content">

                    <div class = "images">
                        <img style = "width: 100%; margin-top: -28%; " src="images/snowy-campus-2025.png">
                    </div>

                    <p id = "top-headline">
                        Chill Bill Takes Over Mac
                    </p>

                    <p id = "description">
                    McMaster enters a deep freeze as inches of snow rise across campus.
                    This is the doing of Chill Bill from Skylanders. He enters a fit of rage
                    as the new semester begins. Will students get a snow day?
                    </p>

                </div>

                <div class = "top-stories-content">
                    <div class = "images">
                        <img style = "width: 100%; margin-top: -10%; " src="images/LNACQ7jOcRZujsbhAFZpS30kOvpb0j1Ah3rWxCSf8w8.webp">
                    </div>
                    <p id = "top-headline">
                        Worst Integration Ever?
                    </p>

                    <p id = "description">
                    For the first time in history, there is no round
                    of applause for Dr. Childs as his Calculus lecture ends.
                    Some say his way of integrating goes beyond his teachings, and
                    any textbook. Confusion lit the room, as students say. The Integration
                    was not even correct.
                    </p>
                </div>

            </div>

            <div class = "stories">

                <div class = "stories-section">

                    <div class = "stories-inner">
                        <div class = "images">
                        <img style = "width: 100%; margin-top: -25%; " src="images/l_image_50ae70b8f1d08.jpg">
                        </div>
                        <p id = "headline">
                        Roaches In Centro
                        </p>

                        <p class = "hidden" id = "description">
                        Who's suprised? The fast food section in 
                        commons is yet again striked by food safety.
                        Students were happy to taste crispy and non-raw 
                        chicken, only to look closer and noticed the cooked roaches. 
                        Workers claim they do not cook the roaches, rather they 
                        fall in while attempting to cook meat.
                        </p>

                        <p class = "hidden-text" id = "description">
                        Who's suprised? 
                        </p>

                    </div>

                    <div class = "stories-inner">
                        <div class = "images">
                        <img style = "width: 100%; margin-top: -19%; " src="images/greenland.jpg">
                        </div>
                        <p id = "headline">
                        Greenland Fights Back
                        </p>

                        <p  class = "hidden" id = "description">
                        "Do not come to my town." Greenland residents 
                        seem to de-test being taken over. Despite the 
                        presidents best efforts, his exclaims for the 
                        control of the area does not seem to be in action. 
                        Many residents say they would be fine with it if 
                        it was "literally anyone else."
                        </p>


                        <p  class = "hidden-text" id = "description">
                        "Do not come to my town."
                        </p>

                    </div>

                    <div class = "stories-inner">
                        <div class = "images">
                        <img style = "width: 100%; margin-top: -15%; " src="images/basement.jpg">
                        </div>
                        <p id = "headline">
                        Pokemon Are Real?
                        </p>

                        <p class = "hidden" id = "description">
                        Resident in Hamilton Ontario claims he has become
                        the "Pokemon Master." After years of collecting, he 
                        has trained and battled his Pokemon when "let out."
                        After officers noticed out of the ordinary behavior 
                        and physical health, officers took him in for drug testing. 
                        Many of the "Pokemon" matches descriptions for missing 
                        people. 
                        </p>

                         <p class = "hidden-text" id = "description">
                        Resident in Hamilton Ontario claims he has become
                        the "Pokemon Master."
                        </p>
                    </div>

                </div>


                <div class = "stories-section hidden ">

                    <div class = "stories-inner">
                        <div class = "images">
                        <img style = "width: 100%; margin-top: -14%; " src="images/seasons.webp">
                        </div>
                        <p id = "headline">
                        Weather Four-cast
                        </p>

                        <p id = "description">
                        Canadian weather decided to speed things up this year,
                        combining all four seasons in one tomorrow. From 12:00 AM to 
                         6:00 AM, there will be a snow blizzard and icy roads. From 6:00 AM
                         to 12:00 PM, flowers will bloom and rain will pour. From 12:00 PM 
                         to 6:00 PM, there is a severe heat warning, and lakes will 
                         dry up - before 6:00 PM to 12:00 AM where leafs will fall 
                         and chilly wind will pick up.
                        </p>
                    </div>

                    <div class = "stories-inner">
                        <div class = "images">
                        <img style = "width: 100%; margin-top: -15%; " src="images/Motor-vehicle-fatalities.webp">
                        </div>
                        <p id = "headline">
                         Car Crash At L.R Wilson
                        </p>

                        <p id = "description">
                        Drivers have had enough as students shamelessly 
                        walk in front of cars. One driver said: "It was only
                        a matter of time." Students who witnessed the event walked by, 
                        saying they need to get to class. The student who was run over 
                        said it was on purpose.
                        </p>
                    </div>

                    <div class = "stories-inner">
                        <div class = "images">
                        <img style = "width: 100%; margin-top: -15%; " src="images/Man-and-woman-shaking-han-008.avif">
\
                        </div>
                        <p id = "headline">
                        CS Student Employed?
                        </p>

                        <p id = "description">
                        The story riling up all Computer 
                        Science students across the world, as 
                        rumours stated a computer science student 
                        who had a stacked resume and applauded social 
                        skills bagged an interview and a salary job. 
                        Many who lost hope for the job market cried tears 
                        of happiness. Many cried tears of jealousy, and rioted 
                        when they heard the news. This rumour was soon debunked,
                        as no such student existed in the first place.         
                        </p>
                    </div>

                </div>

            </div>

        </div>

        <div class = "divider-box">

            <div class = "div-bottom"></div>
            <div class = "div-bottom"></div>
            <div class = "div-bottom"></div>

        </div>

        <div class = "footer">
            <div class="footer-sections">

                <p id = "footer-titles">Subscription</p>

                <div class = "footer-links">
                    <p id ="footer-links">
                        <a href="https://example.com">Full Access</a>
                    </p>

                    <p id ="footer-links">

                        <a href="https://example.com">Home Delivery</a>

                    </p>

                    <p id ="footer-links">

                        <a href="https://example.com">Instant Updates</a>

                    </p>
                </div>

            </div>

            <div class="footer-sections">

                <p id = "footer-titles">Account</p>

                <div class = "footer-links">
                    <p id ="footer-links">
                        <a href="https://example.com">Log In</a>
                    </p>

                    <p id ="footer-links">

                        <a href="https://example.com">Sign Up</a>

                    </p>

                    <p id ="footer-links">

                        <a href="https://example.com">Terms of Service</a>

                    </p>
                </div>

            </div>

            <div class="footer-sections">

                <p id = "footer-titles">Contact</p>

                <div class = "footer-links">
                    <p id ="footer-links">
                        <a href="https://example.com">(905) 629 581</a>
                    </p>

                    <p id ="footer-links">

                        <a href="https://example.com">news@gmail.com</a>

                    </p>

                    <p id ="footer-links">

                        <a href="https://example.com">QnA</a>

                    </p>
                </div>

            </div>
        </div>

    </div>

</html>
